#jp-wrapper, #en-wrapper{
    width:100%;
    height:calc(50vh - 85px);
    padding:1em;
    overflow-y:scroll;
    background-color: #170018; 
    display:flex;
    align-items:center;
}
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(180, 179, 179); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgb(58, 12, 12); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}
#jp-wrapper{
    border-bottom:1px dashed #eee;
}
.pager {
    position:fixed; 
    bottom:0;
    left:0;
    width:100%;
}
.pager button{
    width:50%;
}
.pager button:first-child{
    justify-content:flex-start;
    padding-left:1em;
}
.pager button:last-child{
    justify-content:flex-end; 
    padding-right:1em;
}
.item-info{
    padding: 0 1em; 
    width:100%; 
    border-left:.25em solid #ffc0cb;
    margin-bottom:.5em;
}
.item-info img{
    float:left;
    margin-right:1em;
}
.item-info p{
    line-height:30px;
}
.flipping{
    animation-name: flip; 
    animation-duration: 1s; 
    animation-fill-mode: forwards;
}
@keyframes flip{
    0%{
        transform: rotateX(0deg);
    }
    100%{
        transform: rotateX(180deg);
    }
}
