@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;900&display=swap');

*{
    margin:0;
    padding:0;
    text-decoration:none; 
    list-style:none; 
    outline:none; 
    appearance:none;
        -moz-appearance:none;
        -webkit-appearance:none;
    font-family: 'Noto Sans JP', sans-serif;
    font-display:swap;
    color: #fcf7fa;
    border:none;
    font-weight:400;
    box-sizing: border-box;
    line-height:1.5em;
}
body{
    width:100vw;
    max-width:1920px;
    overflow-x:hidden!important;
    margin:0 auto;
    box-sizing: border-box; 
    background-color:#242121;
}
button{
    background-color:transparent;
    padding:0;
    margin:0;
    display:flex; 
    align-items:center;
    justify-content:center;
    width:3em;
    height:3em;
}
h1{
    font-size:1.25em;
    font-weight:900;
    color:#ffc0cb;
    line-height:1;
    letter-spacing:0.5px;
}
p{
    font-size:0.85em;
}
nav h1 span{
    font-size:0.85em;
    font-weight:100;
}
.jp{
    display:none;
}
nav{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    padding:1em;
}
#site-logo{
    width:74%;
}
#site-logo h6{
    margin-top:1em;
}
nav button{
    margin-top:-6px;
}
article {
    width:100%;
    padding:1em;
}