@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;900&display=swap');
:root {
    --pink: #ffc0cb;
    --dark: #040d21;
    --light: #fcf7fa;
    --red: #0c162d;
    --grey: #8193b2;
    --maxWidth: 1140px;
    --shadow: 0 0 0 1px hsla(0,0%,100%,.1),0 3px 2px rgba(0,0,0,.04),0 7px 5px rgba(0,0,0,.02),0 13px 10px rgba(0,0,0,.02),0 22px 17px rgba(0,0,0,.02);
}
*{
    margin:0;
    padding:0;
    text-decoration:none; 
    list-style:none; 
    outline:none; 
    appearance:none;
        -moz-appearance:none;
        -webkit-appearance:none;
    font-family: 'Noto Sans JP', sans-serif;
    font-display:swap;
    color: var(--grey);
    border:none;
    font-weight:400;
    box-sizing: border-box;
    line-height:1.15rem;
}
body{
    width:100vw;
    overflow-x:hidden!important;
    margin:0 auto;
    box-sizing: border-box; 
    background-color: var(--dark);
}
button{
    background-color:transparent;
    padding:0;
    margin:0;
    display:flex; 
    align-items:center;
    justify-content:center;
    width:3rem;
    height:3rem;
    cursor:pointer; 
}
h1{
    font-size:1.25rem;
    font-weight:900;
    color:var(--pink);
    line-height:1;
    letter-spacing:0.5px;
}
h2{
    line-height:1rem;
}
h6{
    font-size:.65rem;
}
p{
    font-size:0.85rem;
}
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(180, 179, 179); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgb(58, 12, 12); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}
nav h1 span{
    font-size:0.85rem;
    font-weight:100;
}
.jp{
    display:none;
}
.d-flex{
    display:flex!important;
}
.justify-content-between{
    justify-content:space-between!important;
}
.justify-content-center{
    justify-content:center!important;
}
.align-items-center{
    align-items:center!important;
}
.align-items-start{
    align-items:flex-start!important;
}
nav{
    padding:1rem;
    max-width:var(--maxWidth);
}
#site-logo,.navbar{
    width:78%;
}
#site-logo h6{
    margin-top:.5rem;
}
.navbar{
    height:100vh;
    background:var(--red);
    position:fixed;
    top:0;
    display:flex;
    flex-direction: column;
    padding:1.25rem 1rem;
    z-index:9;
    max-width:400px;
    box-shadow:var(--shadow);
    left:-80%;
    transition:left .5s linear; 
}
.navbar a{
    letter-spacing:1px;
    font-size:2rem;
    padding:.5rem;
    opacity:.65;
    transition:.25s;
    padding:0.5em 0;
}
.navbar a:hover{
    opacity:1;
}
.navbar.slideInLeft{
    left:0px;
}
footer hr{
    border:none; 
    width:20%;
    border-top:1px solid var(--pink);
    margin:1rem auto;
}
footer {
    padding:1rem;
    text-align:center;
    position:absolute; 
    bottom:0;
    left:0;
    width:100%;
}
.wrapper{
    width:100vw; 
    height:var(--app-height);
    position:fixed;
    z-index:-1;
    top:0;
    left:0;
}
.wrapper .category{
    text-decoration:none; 
    width:100%;
    text-align:center;
    opacity:.65;
    font-weight:400;
    letter-spacing:1px;
    display:none;
    color:var(--grey);
}
.wrapper .category:hover{
    opacity:1; 
}
.wrapper .category.active{
    display:block;
    animation-name:slideIn;
    animation-fill-mode: unset;
    animation-duration:1s;
}
.category-heading{
    color:var(--light)!important;
    margin:1rem auto;
    font-weight:300;
    border-left:5px solid var(--light);
    padding-left:0.5rem;
}
@keyframes slideIn{
    0%{
        transform:translateY(50px)
    }
    100%{
        transform:translateY(0px)
    }
}
article {
    width:calc(100% - 2rem);
    padding:1rem;
    background: var(--red);
    border-left:.25rem solid var(--pink);
    margin:3rem auto 0 auto;
    max-width: var(--maxWidth);
    box-shadow: var(--shadow);
}
article .listing-details{
    position:relative; 
    width:100%;
}
article .listing-details button{
    position:absolute; 
    font-size:0.75rem;
    background-color:var(--red);
    right:0;
    top:-4.15rem;
    padding:.05rem;
    width:6rem;
    opacity:.57;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}
article .listing-details button.active{
    opacity:1;
}
article .listing-details button.btn-en{
    margin-right:6rem;
}
article .listing-details .en, article .listing-details .jp{
    padding: 0 0 0 1rem;
}
article .listing-details .en div, article .listing-details .jp div{
    margin: 1rem 0;
}
article .listing-details span{
    font-size:0.7rem;
    color: var(--dark);
    border-radius:15px;
    padding:5px 15px;
}
article .listing-details .listing-category{
    background-color:rgb(171, 243, 243);
    margin-right:.25rem;
}
article .listing-details .listing-status{
    background-color:rgb(248, 255, 187);
}
article .listing-details .listing-status.updating{
    background-color:rgb(255, 213, 213);
}
@media screen and (min-width:768px){
    body{
        max-width:var(--maxWidth);
        margin:0 auto;
    }
    h1{
        font-size:2.75rem;
    }
    nav{
        max-width:var(--maxWidth);
        margin:0 auto;
    }
    nav h1 span{
        font-size:0.65rem;
    }
    nav #site-logo h6{
        font-size:0.85rem;
    }
    nav button{
        display:none;
    }
    nav #site-logo{
        text-align:center;
        width:100%;
        margin:0 auto;
    }
    article{
        margin-top:5rem;
    }
    #site-logo{
        padding-top:0.5rem;
        padding-bottom:0.5rem;
    }
    .navbar{
        position:relative;
        width:100%;
        max-width:100%;
        left:0;
        flex-direction:row;
        justify-content:center;
        height:auto;
    }
    .navbar a{
        font-size:1rem;
        margin:0 .5rem;
    }
    .navbar a.current{
        color:var(--pink);
    }
}